*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image:linear-gradient( to right,#f06885 ,#f5aa3a  ) ;
}
.center{
  text-align: center;
  margin: 10px;
  padding: 8px;
  }
  h1{
      color: white;
      font-size: 2.5rem;
  }
.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 1px solid #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px;
    background: rgb(255, 234, 207);
    border-radius: 12px;
}#newtask{
  position: relative;
  padding: 20px 20px;
  
}
#newtask input{
  width: 75%;
  height: 45px;
  
  padding: 8px 15px;   
  background-color: white;
  font-size: 1.4rem;
  border-radius: 4%;
  border: 2px solid #e70000;
}

#newtask input:focus{
  outline: none;
  border-color: #e70000;
}
::placeholder{
  color: #e70000;
}
#newtask button{
  position: relative;
  float: right;
  color: #e43131;
    background-color: #ffe48c;
    border-radius: 6%;
    padding: 8px 15px;
    border: 2px solid #e70000;
    font-size: 1.4rem;
    font-weight: 100;
}
#tasks{
  background-color: rgb(255, 234, 207);
  padding: 30px 20px;
  margin-top: 10px;
  
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.task{
  background-color: #fff5bb;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 15px;
  display: flex;
  
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border:2px solid #e70000;
  cursor: pointer;
}
.task span{
  
  font-size: 25px;
  color: #8b1f1f;
  font-weight: 400;
}
.task button{
  color: #e43131;
  background-color: #ffde73;
  border-radius: 6%;
  padding: 8px 15px;
  border: 2px solid #ffdc7b;
  font-size: 1.4rem;
  font-weight: 100;
  cursor: pointer;
  outline: none;
}
.btn{
  color: #e43131;
  background-color: #ffe48c;
  border-radius: 6%;
  padding: 8px 15px;
  border: 2px solid #e70000;
  font-size: 1.4rem;
  font-weight: 100;
  position: absolute;
  top: 84%;
  left: 45%;
}
.btn:hover{
  color: rgb(255, 255, 255);
  background-color: #d40000;
}